input.facebook-connect {
    background: url('../img/facebook-connect.png');
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 37px;           /* make this the size of your image */
    padding-left: 127px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

.post-box textarea {
    max-width:100%;
    min-width:100%;
}

#feed-posts .post-info {

}

#map_canvas{
    left: 0px; top:0px; height: 95%; width:98.5%; margin:10px;
}
