{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Accounts{% endblock title %}
{% block navbar %}
{% endblock navbar %}
{% block content %}
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span4">
            <form class="form-horizontal well aligned" method='post'> {% csrf_token %}
                {{ signup_form.non_field_errors }}
                <div class="control-group field-wrapper">
                    {{ signup_form.username.errors }}
                    <label class="control-label" for="{{ signup_form.username.auto_id }}">Username</label>
                    <div class="controls">
                        {{ signup_form.username }}
                    </div>
                </div>
                <div class="control-group field-wrapper">
                    {{ signup_form.email.errors }}
                    <label class="control-label" for="{{ signup_form.email.auto_id }}">Email</label>

                    <div class="controls">
                        {{ signup_form.email }}
                    </div>
                </div>
                <div class="control-group field-wrapper">
                    {{ signup_form.password.errors }}
                    <label class="control-label" for="{{ signup_form.password.auto_id }}">Password</label>
                    <div class="controls">
                        {{ signup_form.password }}
                    </div>
                </div>
                <input type="hidden" name="form-name" value="signup">
                <div class="control-group field-wrapper">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary input-block-level">Create account</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span4">
            <!-- This is the form to sign in -->
            <form class="form-horizontal well aligned" method='post'> {% csrf_token %}
                {{ login_form.non_field_errors }}
                <div class="control-group">
                    {{ login_form.username.errors }}
                    <label class="control-label" for="{{ login_form.username.auto_id }}">Username</label>
                    <div class="controls">
                        {{ login_form.username }}
                    </div>
                </div>
                <div class="control-group">
                    {{ login_form.password.errors }}
                    <label class="control-label" for="{{ login_form.password.auto_id }}">Password</label>
                    <div class="controls">
                        {{ login_form.password }}
                    </div>
                </div>

                <input type="hidden" name="form-name" value="login">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="input-block-level"> Remember me
                        </label>
                        <button type="submit" class="btn btn-primary input-block-level">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span2"></div>
    </div>
{% endblock content %}