<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tunerra{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block scripts %}
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "slider/js/bootstrap-slider.js" %}"></script>
    {% endblock scripts %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}"
              media="screen">
        <link rel="stylesheet" type="text/css" href="{% static "css/tunerra.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}">
    {% endblock stylesheets %}
</head>
<body background="/static/background.png">
{% block navigation %}
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="/">Tunerra</a>
            {% block navbar %}
            {% if user.is_authenticated %}
              <ul class="nav pull-right">
                  <li>
                      <form class="navbar-search pull-left" action="{% url "search" %}" method="post"> {% csrf_token %}
                          <input type="text" class="search-query" name="query" placeholder="Get Recommendations">
                      </form>
                  </li>
              </ul>
            {% endif %}
            {% endblock navbar %}
        </div>
    </div>
{% endblock navigation %}
<div class="container-fluid" id="everything">
{% block Allcontent %}
      {% block content %}
      {% endblock content %}
{% endblock Allcontent %}

</div>

</body>
</html>