{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
    <ul class="nav pull-right">
        <li><a href="/accounts/profile/{{ user.username }}">Profile</a></li>
        <li><a href="{% url "map" %}">Map</a></li>
        <li><a href="{% url "settings" %}">Settings</a><li>
        <li><a href="{% url "logout" %}">Logout</a></li>
    </ul>
{{block.super}}
{% endblock navbar %}

{%block content %}

    <div class = "row-fluid">
        <div class ="span2"></div>
        <div class ="span6">
            <div class = "hero-unit"><h2>Welcome back, {{user.username}}</h2></div>
            <div class="well post-box">
                  <form method="post" action="/accounts/feed/{{ request.user.username }}" id="profile-post-form" accept-charset="utf-8"> {% csrf_token %}
                      {% if song_errors %}
                          {% for error in song_errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      {% endif %}
                      {{ post_form.non_field_errors }}
                      {{ post_form.title.errors }}
                      {{ post_form.title }}<br />
                      {{ post_form.artist.errors }}
                      {{ post_form.artist }}<br />
                      {{ post_form.body.errors }}
                      {{ post_form.body }}
                      <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Submit Post">
                      </div>
                  </form>
            </div>
            <div class="well" id="posts">
                <ul class="media-heading">
                    {% for post in feed_posts %}
                    <li class="media feed-post">
                      <a class="pull-left">
                          <img class="media-object" src="{{ post.song.album.cover_art_url }}">
                      </a>
                      <div class="media-body">
                          <h4 class="media-heading">{{ post.song.title }} - {{ post.song.artist }} - {{ post.song.album.name }}</h4>
                          <p class="post-body">{{ post.body }}</p>
                          <p class="post-info"><input type="button" id="post-{{ post.pk }}" class="btn btn-small btn-like" value="{{ post.likes }}">
                              {{ post.user.username }}
                          </p>
                      </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span3">
          <div id="music-recs" class="well">
              <input type="button" id="music-rec" value="More music Recommendations"><br />
              <ul class="media-heading" id="music-rec-list">
                {% for rec in music_recs %}
                    <li class="media music-rec-post">
                      <a class="pull-left">
                          <img class="media-object" src="{{ rec.rec_obj.song.album.cover_art_url }}">
                      </a>
                      <div class="media-body">
                          <a class="rec-body" href="{{ rec.rec_link }}">{{ rec.rec_obj.song.title }} - {{ rec.rec_obj.song.artist.name }}</a>
                      </div>
                    </li>
                {% endfor %}
              </ul>
          </div>
          <div id="follow-recs" class="well">
              <input type="button" id="person-rec" value="More people recommendations">
              {% for rec in follow_recommendations %}
                  <a href="/accounts/profile/{{ rec.user }}"></a><br />
              {% endfor %}
          </div>
        </div>
    </div>

    <script>
        $(".btn-like").click(function(event) {
            event.preventDefault();
            var $button = $(this);
            var $id = parseInt($button.attr("id").split("-")[1]);

            $.ajax({
                url: "/accounts/profile/{{ request.user.username }}/like",
                type: "post",
                data: {
                    "post_id": $id,
                    "like_username": "{{request.user.username}}",
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response === "unliked") {
                        $button.val(parseInt($button.attr("value"))-1)
                    } else if (response === "liked") {
                        $button.val(parseInt($button.attr("value"))+1)
                    }
                },
                error: function(response) {
                    alert("Something went wrong")
                }
            });

        });
    </script>
    <script>
        //
        $("#music-rec").click(function(event) {
            event.preventDefault();
            var $button = $(this);

            $.ajax({
                url: "{% url "recommend_music" %}",
                type: "post",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    var $list = $("#music-rec-list");
                    for (var i=0; i<response.length; i++) {
                        $list.prepend("<li class=\"media music-rec-post\">" +
                                "<a class=\"pull-left\"><img class=\"media-object\" src=\"" + response[i].cover_url + "\"></a>" +
                                "<div class=\"media-body\"><a class=\"rec-body\" href=\"" + response[i].provider_url + "\">"+ response[i].title +" - "+ response[i].artist +"</a></div></li>");
                        // Because we added something to the list, we should remove from the end of the list
                        $list.filter(":last-child").remove();
                    }
                }
            });
        });

        $("#person-rec").click(function(event) {
            event.preventDefault();
            var $button = $(this);

            $.ajax({
                url: "{% url "recommend_person" %}",
                type: "post",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                  var $thing = response[0];
                }
            });
        });
    </script>
{% endblock content %}