{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
    {{ block.super }}
    <ul class="nav pull-right">
      {% if user.is_authenticated %}
          {% if following and not same_user%}
              <!-- This shouldn't be a link, it should be javascript callback -->
              <li><a id="follow-link">Unfollow</a></li>
          {% elif not following and not same_user %}
              <li><a id="follow-link">Follow</a></li>
          {% endif %}
          <li><a href="/accounts/feed/{{ user.username }}">Feed</a><li>
          <li><a href="{% url "logout" %}">Logout</a></li>
      {% else %}
          <li><a href="{% url "login_signup" %}">Signup/Login</a></li>
      {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span6" id="posts">
          {% for post in profile_posts %}
          <div class="well profile-post" class="profile-post">
              <ul class="media-heading">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="{{ post.song.album.cover_art_url }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ post.song.title }} - {{ post.song.artist }} - {{ post.song.album.name }}</h4>
                            <p class="post-body">{{ post.body }}</p>
                            <p class="post-info">
                            {% if user.is_authenticated %}
                                <!--Ajax it up for link--><input type="button" class="btn btn-small btn-like" id="post-{{ post.pk }}" value="{{ post.likes }}">
                            {% endif %}</p>
                        </div>
                    </li>
              </ul>
          </div>
          {% endfor %}
      </div>
      <div class="span3" id="user-info">
          <div class="well">
              <h3>Favorite songs:</h3>
            {% for Song in FavList %}
                <li>{{Song.title}} - {{Song.artist}}</li>
            {% endfor %}
          </div>
      </div>
    </div>
    <script>
        $(".btn-like").click(function(event) {
            event.preventDefault();
            var $button = $(this);
            var $id = parseInt($button.attr("id").split("-")[1]);

            $.ajax({
                url: "/accounts/profile/{{ request.user.username }}/like",
                type: "post",
                data: {
                    "post_id": $id,
                    "like_username": "{{request.user.username}}",
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response === "unliked") {
                        $button.val(parseInt($button.attr("value"))-1)
                    } else if (response === "liked") {
                        $button.val(parseInt($button.attr("value"))+1)
                    }
                },
                error: function(response) {
                    alert("Something went wrong")
                }
            });

        });
        $("#follow-link").click(function(event) {
            event.preventDefault();
            var $link = $(this);
            $.ajax({
                url: "{{ request.path }}/follow",
                type: "get",
                success: function(response) {
                  $link.html(response)
                }
            });
        });
    </script>
{% endblock content %}
