{% extends "welcome.html" %}
{% load staticfiles %}
{% block navbar %}
    <ul class="nav pull-right">
      <li><a href="/accounts/feed/{{ user.username }}">Feed</a><li>
      <li><a href="{% url "logout" %}">Logout</a></li>
    </ul>
{{block.super}}
{% endblock %}
    {% block message %}
        <div class="row">
          <div class="span4"></div>
          <div class="span8">
            <h3> Settings for {{user.username}} </h3>
          </div>
        </div>
    {% endblock message %}
{% block Allcontent %}
{%block content %}
    {{block.super}}
    <div class="row">
      <div class ="span2"></div>
      <div class ="span6">
    Customize your genre preferences:<br>
      </div>
    </div>
    {% for genreObj in favGenres %}
          <div class="control-group field wrapper">
            <label class ="control-label">{{ genreObj.genre.name }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-slider-min="0" data-slider-max="11" data-slider-orientation="horizontal" value="{{genreObj.weight}}" name="{{genreObj.genre.name}}" id="{{ genreObj.genre.name }}" style><br>
            </div>
          </div>
      {% endfor %}
    {% block submitButton %}
    {{block.super}}
    {% endblock submitButton %}
    </div>
     <div class="row">
      <div class="span2"></div>
      <div class="span6">
        <div class="control-group field-wrapper">
            <div class ="controls">
                <button class="btn btn-large btn-danger" role="dialog" data-toggle="modal" href="#delete-dialog" id="delete-button">
                    DELETE ACCOUNT</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
    <script>
    {% for genreObj in favGenres %}
    var {{genreObj.genre.name}} = $('#{{ genreObj.genre.name }}').slider();
    {{genreObj.genre.name}}.slider('setValue', {{genreObj.weight}})
    {% endfor %}  
    </script>
    <!-- Modal for confirming account deletion -->
    <div class="modal hide fade" id="delete-dialog" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id='delete-modal-label'>Account Deletion</h3>
        </div>
        <div class="modal-body">
            <p>Are you really sure that you want to delete your account?</p>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button class="btn btn-danger" type="submit" name="confirmed-delete">Delete</button>
        </div>
    </div>
{% endblock Allcontent %}